
.form-container {
    margin: 80px 0px;
    background-color: #ffffff; 
    padding: 20px;
    border-radius: 8px;
    
}
h1 {
    display: flex;
    color: #51738a;
    justify-content: center;
    font-weight: bold;
}


.btn-primary {
    background-color: #51738a !important; /* Botón en rojo pastel */
    color: #ffffff;
    width: 100%;
    border-color: #51738a !important; /* Color del borde en rojo */

}
.btn-primary:hover {
    background-color: #132c4d !important; /* Botón en rojo pastel */
    color: #ffffff;
}
