<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Información del Usuario</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        h1 {
            color: #333;
        }
        .user-info {
            margin-top: 20px;
            border: 1px solid #ccc;
            padding: 10px;
        }
        .user-info p {
            margin: 5px 0;
        }
    </style>
</head>
<body>
    <h1>Información de Reserva</h1>
    <div class="user-info">
        <p><strong>Nombre:</strong> {{ user.nombre }}</p>
        <p><strong>Email:</strong> {{ user.email }}</p>
        <p>{{ cuerpomensaje }}</p>

        

    </div>
</body>
</html>
